<form trackForm>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <img src="assets/images/proloco.png" class="img-fluid mx-auto d-block" width="300px" height="400px" />
      </div>
      <div class="col-md-8">
        <nav class="navbar navbar-expand-lg navbar-light ">


          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item ">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="/La Pro Loco" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pro Loco<span
                    class="sr-only"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/La Pro Loco">Chi siamo</a>
                  <a class="dropdown-item" href="/Finalita">Le Nostre Finalità</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/Tesseramenti">Diventa Socio</a>
                  <a class="dropdown-item" href="/Assemblee">Assemblee</a>
                </div>
              </li>
              <li class="nav-item active  ">
                <a class="nav-link" href="/Statuto">Statuto<span class="sr-only"></span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/Storia">Storia<span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Eventi">Eventi<span class="sr-only"></span></a>
              </li>
            </ul>
            <ul>

              <!-- Sharingbutton Facebook -->
              <a class="resp-sharing-button__link"
                href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fsearch%2Ftop%2F%3Fq%3Dpro%2520loco%2520martirano%2520lombardo"
                target="_blank" rel="noopener" aria-label="">
                <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
                  <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z" />
                    </svg>
                  </div>
                </div>
              </a>
            </ul>

          </div>
        </nav>
      </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-md-center">
      <h4>
        <B>STATUTO ASSOCIAZIONE PRO LOCO MARTIRANO LOMBARDO</B>
      </h4>

    </div>
    <br>
    <div class="row justify-content-md-center">
      <h5>
        <B>Art. 1 - DENOMINAZIONE - SEDE</B> <br>
      </h5>
      <br>

      <h6>
        <B>1.</B> È costituita con scrittura privata registrata l’Associazione Pro Loco
        Martirano Lombardo, di seguito denominata Pro Loco. <br>
        <B>2.</B> L'associazione ha la sua sede legale in Martirano Lombardo (CZ). <br>
        <B>3. </B>Nell'ambito territoriale del Comune di Martirano Lombardo il Consiglio
        Direttivo potrà variare l'indirizzo della sede legale. <br>
      </h6>


    </div>
    <br>
    <div class="row justify-content-md-center">
      <h5>
        <B>Art. 2 - COSTITUZIONE ED AMBITO TERRITORIALE DI
          ATTIVITÀ</B>
      </h5>
      <br>
      <h6>
        <B>1.</B>La Pro Loco riunisce in associazione tutte le persone fisiche (Soci) che
        intendono operare attivamente per favorire lo sviluppo turistico, culturale,
        ambientale, sociale, sportivo, storico, artistico del territorio del Comune di
        appartenenza e favorire il miglioramento della vita dei suoi residenti. <br>
        <B>2.</B> La Pro Loco non ha finalità di lucro ed i suoi Soci operano a favore della
        medesima attraverso il volontariato, con un ordinamento interno ispirato al
        principio di democrazia ed indirizzato ad ottenere i migliori risultati possibili
        nell'ambito dell'attività di promozione ed utilità sociale.
        <B>3.</B> La Pro Loco può operare anche al di fuori del proprio Comune stipulando
        accordi, convenzioni, partenariati, con altre Associazioni, Enti, Comuni e
        Province in località in cui non esista altra associazione Pro Loco.
      </h6>
    </div>
    <div class="row justify-content-md-center">
      <h5>
        <B>Art. 3 - OGGETTO SOCIALE</B>
      </h5>
      <br>
      <h6>
        <B>1.</B>La Pro Loco svolge le seguenti attività: <br><br>
        <B>a)</B>promuove l'organizzazione turistica del territorio, proponendo alle
        Amministrazioni competenti il miglioramento edilizio e stradale della zona etutte quelle iniziative atte a
        tutelare e valorizzare le bellezze naturali nonché il
        patrimonio culturale, storico - monumentale ed ambientale, attivando ogni
        possibile forma di collaborazione con enti pubblici e privati; <br>
        <B>b)</B>incentiva e organizzare, anche in collaborazione con gli Enti Pubblici e/o
        privati, iniziative (convegni,
        escursioni, spettacoli pubblici, mostre,
        festeggiamenti, manifestazioni sportive, fiere enogastronomiche e/o di altro
        genere, nonché iniziative di solidarietà sociale, recupero ambientale, restauro
        e gestione di monumenti, ecc.) che servano ad attirare i turisti e a rendere più
        gradito il loro soggiorno nonché a migliorare la qualità della vita dei residenti; <br>
        <B>c)</B>promuove la cultura dell'ospitalità, l'educazione turistica ambientale e la
        conoscenza globale del territorio, e più in generale sensibilizza la popolazione
        residente nei confronti del fenomeno turistico; <br>
        <B>d)</B>stimola il miglioramento delle infrastrutture e della ricettività alberghiera
        ed extra alberghiera; <br>
        <B>e)</B> si attiva affinché sia assicurato il regolare funzionamento dei servizi locali
        d'interesse turistico svolgendo tutte quelle azioni atte a garantirne la più larga
        funzionalità;<br>
        <B>f)</B> collabora con gli Organi competenti a vigilare sulla conduzione dei servizi
        pubblici e privati di interesse turistico, verificando soprattutto il rispetto delle
        tariffe e proponendo, ove necessario, le opportune modificazioni; <br>
        <B>g)</B> cura l'informazione e l'accoglienza dei turisti, anche tramite la gestione
        degli Uffici d'Informazione I.A.T.; <br>
        <B>h)</B> promuove e sviluppa la solidarietà e il volontariato nonché l'aggregazione
        sociale, attraverso iniziative nel settore sociale e del volontariato a favore
        della popolazione della località. <br>
        <B>i)</B> Partecipare a bandi di progettazione regionali, nazionali ed europei
        inerenti le finalità istituzionali della Pro Loco. <br>
        <br>
        <B>2.</B> Per il raggiungimento degli scopi sociali è ammesso lo svolgimento di
        iniziative accessorie, purché pertinenti con le finalità statutarie e regolarmente
        deliberate dall'Assemblea. <br>
        <br>
        <B>3.</B> Le attività elencate potranno essere svolte instaurando forme di
        collaborazione con enti pubblici e privati.
      </h6>
    </div>
    <div class="row justify-content-md-center">
      <h5>
        <B>Art. 4 - SOCI</B>
      </h5>
      <br>
      <h6>
        Possono essere iscritti come soci tutti i residenti nel Comune ed altresì coloro
        che pur non residenti sono per motivazioni varie interessati all'attività della
        Pro Loco. <br>
        <B>1.</B>I Soci della Pro Loco si distinguono in: <br> <br>
        <B>a)</B>Soci Ordinari; <br>
        <B>b)</B>Soci Sostenitori;<br>
        <B>c)</B>Soci Benemeriti;<br>
        <B>d)</B>Soci Onorari. <br> <br>
        
        <B>2.</B> Sono Soci Ordinari coloro che versano la quota di iscrizione annualmente
        stabilita dall'Assemblea. <br>
        <B>3.</B>Sono Soci Sostenitori e Benemeriti coloro che, oltre alla quota ordinaria,
        erogano una quota suppletiva. <br>
        <B>4.</B> Sono Soci Onorari coloro che vengono denominati tali dal Consiglio
        Direttivo per avere arrecato particolari benefici morali o materiali
        all'Associazione. I Soci Onorari sono esonerati dal pagamento della quota as-
        sociativa. <br>
        <B>5.</B>Non è ammessa la categoria dei Soci temporanei. <br>
      </h6>
    </div>
    <div class="row justify-content-md-center">
      <h5>
        <B>Art. 5 - DIRITTI ED OBBLIGHI DEI SOCI</B>
      </h5>
      <br>
      <h6>
        <B>1.</B>I Soci Ordinari, Sostenitori e Benemeriti devono versare la quota
        associativa annuale; i Soci Onorari sono esentati dal pagamento della quota
        annuale. <br> 
        <B>2.</B>Tutti i Soci, purché maggiorenni al momento dell'assemblea, hanno diritto
        di: <br><br>
        <B>a)</B>votare in Assemblea, per eleggere gli organi direttivi della Pro Loco, per
        approvare lo Statuto e i regolamenti della Pro Loco e successive
        modificazioni; <br>
        <B>b)</B>partecipare alle assemblee generali, con diritto di discussione e di voto in
        piena parità di poteri, a qualsiasi categoria essi appartengono;<br>
        <B>c)</B>essere eletti alle cariche direttive della Pro Loco;<br>
        <B>d)</B>ricevere la tessera della Pro Loco;<br>
        <B>e)</B>ricevere eventuali pubblicazioni edite dalla Pro Loco; <br>
        <B>f)</B> frequentare i locali della Pro Loco; <br>
        <B>g)</B> ottenere eventuali facilitazioni in occasione di manifestazioni promosse
        o/ed organizzate dalla Pro Loco. <br>
        <br>
        <B>3.</B> I Soci hanno l'obbligo di: <br> <br>
        <B>a)</B>rispettare lo Statuto ed i regolamenti della Pro Loco; <br>
        <B>b)</B>versare nei termini stabiliti la quota associativa;<br>
        <B>c)</B>non operare in concorrenza con l'attività della Pro Loco.<br>
        
      </h6>
    </div>
    <br>
    <div class="row justify-content-md-center">
      <h5>
        <B>Art. 6 - AMMISSIONE ED ESCLUSIONE DEL SOCIO</B>
      </h5>
      <br>
      <h6>
        <B>1.</B>L'ammissione di un nuovo Socio viene decisa dal Consiglio Direttivo della
        Pro Loco. Il socio o aspirante socio deve autocertificare di non aver subito
        condanne penali o sanzioni disciplinari, o di non avere a proprio caricoprocedimenti giudiziari in corso. In caso di precedenti penali o procedimenti
        in corso il socio viene dichiarato decaduto o nel caso di nuova richiesta di
        iscrizione, la richiesta di associazione viene respinta. <br>
        <B>2.</B> Il Consiglio direttivo è tenuto ad esaminare entro sessanta giorni dalla
        presentazione le istanze di iscrizione da parte di nuovi soci e l'accettazione
        deve essere comunicata al socio aspirante entro dieci giorni dalla delibera.
        Ai fini del perfezionamento dell'iscrizione il nuovo socio dovrà versare la
        quota associativa annuale entro trenta giorni dalla delibera, a pena di
        decadenza.
        La quota stabilita può essere versata anche contestualmente all'istanza di
        iscrizione. 
        <B>3.</B>La quota associativa è intrasmissibile e non rivalutabile. <br>
        <B>4.</B>La qualità di socio si perde in caso di decesso,
        dimissioni,
        morosità
        o
        indegnità ovvero in presenza di altre gravi condotte lesive dello Statuto e dei
        Regolamenti della Pro-Loco, valutate dal Consiglio direttivo. <br>
        <B>5.</B>L'esclusione del socio, in tutte le ipotesi descritte nel comma precedente,
        viene decisa con delibera del Consiglio Direttivo. <br>
        <B>6.</B> I soci dimissionari che non presentino le dimissioni per iscritto entro il 15
        novembre sono obbligati al versamento dei contributi fissati anche per l'anno
        seguente.
      </h6>
    </div>
    <div class="row justify-content-md-center">
      <h5>
        <B>Art. 7 - ORGANI</B> <br>
      </h5>
    </div>
    <div class="row">
      <br>
      <h6>
        <B>1.</B>Sono organi della Pro Loco: <br> <br>
        <B>a)</B>l'Assemblea dei Soci; <br>
        <B>b)</B>il Consiglio Direttivo;<br>
        <B>c)</B>il Presidente;<br>
        <B>d)</B>il Vice Presidente;<br>
        <B>e)</B>il Segretario; <br>
        <B>f)</B> il Tesoriere;<br>
        <B>g)</B> il Collegio dei Revisori dei Conti. <br> <br>
        Tutti i predetti organi sono eletti dall’Assemblea.
      </h6>
    </div>


  </div>
</form>