<form trackForm>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <img src="assets/images/proloco.png" class="img-fluid mx-auto d-block" width="300px" height="400px" />
      </div>
      <div class="col-md-8">
        <nav class="navbar navbar-expand-lg navbar-light ">


          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item ">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="/La Pro Loco" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pro Loco<span
                    class="sr-only"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/La Pro Loco">Chi siamo</a>
                  <a class="dropdown-item" href="/Finalita">Le Nostre Finalità</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/Tesseramenti">Diventa Socio</a>
                  <a class="dropdown-item" href="/Assemblee">Assemblee</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Statuto">Statuto<span class="sr-only"></span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/Storia">Storia<span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Eventi">Eventi<span class="sr-only"></span></a>
              </li>
            </ul>
            <ul>

              <!-- Sharingbutton Facebook -->
              <a class="resp-sharing-button__link"
                href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fsearch%2Ftop%2F%3Fq%3Dpro%2520loco%2520martirano%2520lombardo"
                target="_blank" rel="noopener" aria-label="">
                <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
                  <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z" />
                    </svg>
                  </div>
                </div>
              </a>
            </ul>

          </div>
        </nav>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <br>
      
      <h5>
        La Pro Loco di Martirano Lombardo (CZ) è un’associazione volontaria e apolitica nata nel giugno del 2019 che ha come
        unico scopo la promozione e la valorizzazione di tutte le risorse disponibili nel contesto in cui opera. La sua
        nascita si deve alla caparbietà e testardaggine di un gruppo di giovani martiranesi che unendo le loro idee e la
        loro voglia di fare del bene è riuscito a ri-fondare la Pro Loco (mancava da quasi più di 10 anni), creando
        attorno a sé uno spirito di condivisione e passione che lascia sicuramente ben sperare per il futuro, portando
        sempre più in alto il nome di Martirano Lombardo.
      </h5>
      <div class="img">
        <img src="assets/images/pagina_iniziale1.png" class="img-fluid mx-auto d-block" width="800px" height="800px" />
      </div>
    </div>

  </div>
</form>